@font-face {
    font-family: 'Inter-Text_Regular';
    src: url(fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Inter-Text_ExtraBold';
    src: url(fonts/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: 'Inter-Text_Bold';
    src: url(fonts/Inter-Bold.ttf);
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.background1 {
    height: 42px;
    background-color: #4F4B4B;
}

.container {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    margin: auto;
    width: 1359px;
}
.txt {
    color: #FFFFFF;
    margin-left: 8px;
    margin-top: 8px;
    width: 116px;
    font-family: 'Inter-Text_Regular';
}

.span {
    font-family: 'Inter-Text_ExtraBold';
}

.txt a {
    color: white;
    text-decoration: none;
    display: inline-block;
    border-bottom: 9px solid #FFFFFF;
    padding-bottom: 5px;
}

.txt2 {
    color: #FFFFFF;
    margin-left: 53px;
    margin-top: 8px;
    width: 1359px;
    font-family: 'Inter-Text_Regular';
}

.txt2 a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 5px;
}

.txt2 a:hover {
    color: white;
    text-decoration: none;
    display: inline-block;
    border-bottom: 9px solid #FFFFFF;
    padding-bottom: 5px;
}

.background2 {
    height: 82px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15);
}

.logo {
    margin-top: 9px;
}
.search {
    display: flex;
}

.search input {
    margin-top: 17px;
    margin-left: 114px;
    width: 382px;
    height: 42px;
    padding-left: 10px;
    border: 1px solid #38D15A;
    border-radius: 5px 0px 0px 5px;
    background: #ffffff;
    color: #000000;
}

.search input:focus {
    outline: none;
}

.search button {
    margin-top: 17px;
    width: 44px;
    height: 46px;
    background: #38D15A;
    border: #38D15A;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    opacity: 1;
}

.search button:hover {
    filter: brightness(0.95);
}

.search button:before {
    content: url(image/Search.svg);
    color: #F9F0DA;
}

.account, .account a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    justify-self: flex-end;
    word-spacing: 0px;
}

.sign-up {
    margin-top: 16px;
    color: #38D15A;
    width: 95px;
    height: 49px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Inter-Text_Regular';
    font-size: 14px;
    text-align: center;
    line-height: 49px;
    cursor: pointer;
    opacity: 1;
}

.sign-up:hover {
    filter: brightness(0.95);
}

.register {
    margin-top: 16px;
    color: #FFFFFF;
    width: 210px;
    height: 49px;
    background: #38D15A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Inter-Text_Bold';
    font-size: 16px;
    text-align: center;
    line-height: 49px;
    cursor: pointer;
    opacity: 1;
}

.register:hover {
    filter: brightness(0.95);
}

/*   ВЕСЬ КОНТЕНТ СТРАНИЦЫ   */


.main {
    display: grid;
    /* grid-template-rows: 0fr; */
    /* grid-template-columns: 187px 1172px; */
    margin: auto;
    width: 1359px;
}

.group-review {
    width: 190px;
    height: 19px;
    margin-top: 45px;
    font-family: 'Inter-Text_Regular';
    font-size: 16px;
}

.review2 {
    margin-left: 12px;
    margin-right: 12px;
}

.filter-group {
    margin-top: 60px;
    width: 186px;
}

.filter {
    font-family: 'Inter-Text_Bold';
    font-size: 20px;
}

.filter-massive1 {
    margin-top: 49px;
    font-family: 'Inter-Text_Regular';
    font-size: 14px; 
}

.title-filter {
    font-family: 'Inter-Text_Bold';
    font-size: 14px;
}

.checkboxes label {
    display: block;
    padding-right: 10px;
    padding-left: 25px;
    text-indent: -27px;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    vertical-align: middle;
    margin-bottom: 7px;
}

.checkbox-left {
    margin-top: 8px;
}

.show {
    margin-top: 6px;
    margin-left: 6px;
}

.show a{
    color: rgba(0, 0, 0, 0.7);
}

.filter-massive2 {
    margin-top: 30px;
    font-family: 'Inter-Text_Regular';
    font-size: 14px; 
}

.filter-massive3 {
    margin-top: 30px;
    font-family: 'Inter-Text_Regular';
    font-size: 14px; 
}

.filter-massive4 {
    margin-top: 30px;
    font-family: 'Inter-Text_Regular';
    font-size: 14px; 
}

.abc {
    margin-top: 7px;
}

.filter-massive5 {
    margin-top: 30px;
    font-family: 'Inter-Text_Regular';
    font-size: 14px; 
}

.Disassembled-V8 {
    margin-top: 56px;
}

.text-Disassembled-V8 {
    font-family: 'Inter-Text_Regular';
    font-size: 20px; 
}

.text2-Disassembled-V8 {
    font-family: 'Inter-Text_Bold';
    font-size: 20px;
}

.definition {
    font-family: 'Inter-Text_Bold';
    font-size: 28px;
}
/*       ПОДВАЛ СТРАНИЦЫ        */


.basement {
    color: #FFFFFF;
    margin-top: 36px;
    height: 308px;
    background: #191919;
    font-family: 'Inter-Text_Regular';
}

.TK21-group {
    margin-top: 54px;
    width: 190px;
    font-size: 14px;
}

.TK21-group a{
    color: white;
}

.TK21-group p{
    padding: 0px;
    margin: 0px;
}

.TK21 {
    font-size: 16px;
    font-family: 'Inter-Text_Bold';
    margin-bottom: 32px;
}

.project {
    color: #FFFFFF;
    margin-bottom: 32px;
}

.contacts {
    margin-top: 27px;
}

.advertisement {
    margin-top: 27px;
}

.Volosovskiy {
    margin-top: 28px;
    color: #9A9A9A;
}

.SOCIAL {
    margin-left: 80px;
    margin-top: 54px;
    width: 190px;
    font-size: 14px;
}

.SOCIAL a{
    color: white;
}

.SOCIAL p{
    padding: 0px;
    margin: 0px;
}

.searching  {
    margin-top: 54px;
    justify-self: flex-end;
}

.serch {
    font-size: 16px;
    font-family: 'Inter-Text_Bold';
    margin-bottom: 17px;
}

.search2 {
    display: flex;
}

.search2 input {
    width: 278px;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #000000;
    border-right: 0px;
    border-radius: 5px 0px 0px 5px;
    background: #ffffff;
    color: #000000;
    font-family: 'Inter-Text_Regular';
    font-size: 16px;
}

.search2 input:focus {
    outline: none;
}

.search2 button {
    margin-top: 1px;
    width: 44px;
    height: 37px;
    background: #ffffff;
    border: #000000;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    opacity: 1;
}

.search2 button:hover {
    filter: brightness(0.95);
}

.search2 button:before {
    content: url(image/search-left-1506-svgrepo-com\ 1.svg);
    color: #000000;
}

.cookie {
    margin-top: 14px;
    color: #9A9A9A;
    font-family: 'Inter-Text_Regular';
    font-size: 12px;
    text-align: justify;
}

.blocks-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 180px;
    margin-left: 60px;
}

.block-flex {
    display: flex;
    margin: 20px;
}

/*       Блок 1        */

.Disassembled-V8-engine {
    width: 325.96px;
    height: 444px;
    background: #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.background-image1 {
    width: 325.96px;
    height: 202px;
    background: #F4F4F4;
    border-radius: 10px;
}

.image1 {
    width: 326px;
    height: 192px;
    background: url(image/image\ 4.png);
}

/*       Блок 2        */

.Silent-blocks {
    width: 325.96px;
    height: 444px;
    background: #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.background-image2 {
    width: 323.01px;
    height: 202px;
    background: #FFFFFF;
    border-radius: 10px
}

.image2 {
    width: 326px;
    height: 204px;
    background: url(image/image\ 8.png);
}

/*       Блок 3        */

.Caliper {
    width: 325.96px;
    height: 444px;
    background: #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.background-image3 {
    width: 326px;
    height: 202px;
    background: #F2F2F2;
    border-radius: 10px;
}

.image3 {
    width: 312px;
    height: 201.05px;
    background: url(image/image\ 7.png);
}

/*       Блок 4        */

.Cylinder-block {
    width: 325.96px;
    height: 444px;
    background: #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.background-image4 {
    width: 326px;
    height: 202px;
    background: #D9D9D9;
    border-radius: 10px;
}

.image4 {
    width: 324.96px;
    height: 203.82px;
    background: url(image/image\ 5.png);
    border-radius: 10px;
}

/*       Блок 5        */

.Shock-absorbers {
    width: 325.96px;
    height: 444px;
    background: #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.background-image5 {
    width: 326px;
    height: 202px;
    background: #F0F1F2;
    border-radius: 10px;
}

.image5 {
    width: 324.96px;
    height: 203.82px;
    background: url(image/image\ 9.png);
    border-radius: 10px;
}

/*       Блок 6        */

.Engine-mounting {
    width: 325.96px;
    height: 444px;
    background: #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.background-image6 {
    width: 326px;
    height: 202px;
    background: #F8F8F8;
    border-radius: 10px;
}

.image6 {
    width: 324.96px;
    height: 203.82px;
    background: url(image/image\ 10.png);
    border-radius: 10px;
}

.text {
    font-family: 'Inter-Text_Bold';
    font-size: 16px;
    margin-left: 7px;
    margin-top: 11px;
}

.description {
    margin-top: 15px;
    margin-left: 7px;
    margin-right: 8px;
    text-align: justify;
}

.text-bold {
    font-family: 'Inter-Text_Bold';
    font-size: 14px;
}

.text-regular {
    font-family: 'Inter-Text_Regular';
    font-size: 14px;
    color: #666666;
}